*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    overflow: hidden auto;
    font-family: 'Poppins', sans-serif;;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    font: bold 'Poppins', sans-serif;
    font-size: 2.25em;
}

.logo a{
    text-decoration: none;
    color: white;
    left: 15px;
    mix-blend-mode: difference;
    z-index: 9999;
}

ul{
    list-style: none;
}

#content {
    transition: 0.4s cubic-bezier(.615 , .19, .305, .91);
}

.menu{
    margin-left: auto;
    display: none;
}

#hamgurger_menu {
    z-index: 9999;
}

#hamgurger_menu div {
    width: 30px;
    height: 16px;
}

#hamgurger_menu span{
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 999rem;
    background: black;
    transition: 0.3s cubic-bezier(.615 , .19, .305, .91);
    mix-blend-mode: difference;
    z-index: 9999;
}

#hamgurger_menu span:nth-child(2){
    top: 50%;
}

#hamgurger_menu span:last-child{
    top: 100%;
}

.hamburger_line_wrap {
    top: 17px;
    right: 17px;
}

li{
    display: inline-block;
    margin-left: 2em;
}

.menu a{
    position: relative;
    color: black;
    text-decoration: none;
    font: larger productsans, sans-serif;
    padding-bottom: 4px;
}

.menu a:hover {
    --underline-width: 100%;
}

.profile_pic{
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(15vw + 30vh);
    max-width: 650px;
}

.profile_pic img{
    display: block;
    transform: translateX(10%);
    width: 100%;
}

.cover-text{
    padding-top: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text{
    overflow: hidden;
    margin-top: 10vh;
}

.text-1 {
    display: none;
    text-align: center;
    font-size: 2.5em;
    font-weight: 500;
    overflow: hidden;
    margin-bottom: 5vh; 
}

.text-2{
    overflow: hidden;
}

.text-2 h1{
    font-size: calc(5px + 12vw);
    line-height: 120%;
}

.text-3{
    text-align: center;
    font-size: 1.25em;
}

.overflow-hid{
    overflow: hidden;
}

#cursor{
    pointer-events: none;
    display: none;
    position: fixed;
    background: #ffffff00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    transition: top 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), left 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.position_fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.top_0 {
    top: 0;
}

.height100vh {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.left-0 {
    left: 0;
}

#menu_mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -150%;
    transform: translateX(-50%);
    transition: 0.5s cubic-bezier(.615 , .19, .305, .91);
}

#menu_mobile a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Poppins' , sans-serif;
    font-size: calc(2rem + 2vw);
}

.text_2_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_2_wrap p {
    font-size: 10vw;
}

.iam {
    display: none;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    z-index: 999999;
    transition: 0.4s cubic-bezier(.615 , .19, .305, .91);
}

.ym_logo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s cubic-bezier(.615 , .19, .305, .91);
}

.ym_logo h2{
    color: white;
    transform: translateX(-4000%);
    font-size: calc(1rem + 4vw);
    animation: preload 5s cubic-bezier(.615 , .19, .305, .91) infinite;
}

.ym_logo h2:nth-child(1) {
    animation-delay: 0.4s;
}

.ym_logo h2:nth-child(2) {
    animation-delay: 0.2s;
}

@keyframes preload {
    0% {
        transform: translateX(-4000%);
    }

    40% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(4000%);
    }
}