@font-face {
    font-family: Acumin_Pro_Black;
    src: url(../font/Acumin\ Pro\ Black.otf);
}

@font-face {
    font-family: Acumin_Pro_Bold;
    src: url(../font/Acumin\ Pro\ Bold.otf);
}

@font-face {
    font-family: Acumin_Pro_Cond_Black;
    src: url(../font/Acumin\ Pro\ Cond\ Black.otf);
}

@font-face {
    font-family: Acumin_Pro_Cond_Bold;
    src: url(../font/Acumin\ Pro\ Cond\ Bold.otf);
}


