 /* กำหนด font */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

@font-face{
    font-family: productsans;
    src: url(../font/Product-Sans-Regular.ttf);   
}

@font-face {
    font-family: productsansbold;
    src: url(../font/Product-Sans-Bold.ttf);
}
 /* กำหนด font */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::selection{
    background-color: #000000;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    min-width: 1366px;
    min-height: 600px;
    width: auto;
    height: auto;
    padding: 2em 0 0 0;
    align-items: center;
    justify-content: center;
}

.main{
    overflow: hidden;
}

.header{
    position: relative;
    width: 100%;
    height: 60vw;
    transition: all 1s ease;
}

.logo{
    margin: 2em 0 0 4em;
    width: auto;
    height: 5vh;
    mix-blend-mode: difference;
}


.content .text {
    left: 0; 
    right: 0;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 14vw;
    font-weight: 700;
    position: absolute;
}

.content .text:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 0.02em #ffffff;
}

.font-amimate-info{
    position: relative;
    margin: auto;
    width: 60%;
    top: 65%;
}

.font-amimate{
    left: 0; 
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ffffff;
    position: absolute;
    font-size: 2vw;
    font-weight: 500;
}


/* กำหนด width  height ของ section*/
.section-1{
    width: 100%;
    height: 90vh;
    transition: all 0.8s ease-out;
    background-color: #ffffff;
    padding-bottom: 20%;
}

.section-2{
    width: 100%;
    height: auto;
    transition: all 0.8s ease-out;
    background-color: #000000;
}

.section-3{
    width: 100%;
    height: 100vh;
    transition: all 0.8s ease-out;
    background-color: #000000;
}

.section-4{
    width: 100%;
    height: 160vh;
    background-color: #000000;
}
.section-5{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.section-6{
    width: 100%;
    height: 120vh;
    background-color: #ffffff;
}

.footer{
    width: 100%;
    height: 30vh;
    background-color: rgb(0, 0, 0);
    position: relative;
}
/* กำหนด width  height ของ section*/


.footer p{
    padding-top: 2em;
    font-size: 1.2vw;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}

.topic{
    font-size: 5vw;
    font-weight: 600;
    overflow: hidden;
    align-items: center;
}

.font-size-property{
    padding-top: 1em;
    margin-left: 1.9em;
}

.font-size-propery-box{
    display: flex;
}

.info{
    scale: 1.5;
    margin: 0 0 10em 15em;
    text-align: left;
    font-weight: 500;
    display: inline-block;
    padding-top: 4em;
    opacity: 0;
    transition: all 0.4s ease-in;
}

.font-fam-topic{
    margin-top: 1em;
    margin-left: 1.5em;
    font-size: 6vw;
    color: #ffffff;
}

.size-hover{
    overflow: hidden;
    position: relative;
    padding: 3em;
    float: right;
    border-radius: 80px;
}

.size{
    display: inline-block;
    cursor: none;
    font-size: 5vw;
    font-weight: 600;
    color: #ffffff;
    mix-blend-mode: difference;
    transition: all 0.4s ease-out;
    transform: translateY(-150%);
    z-index: 1;
}


.size-info{
    opacity: 0;
    font-weight: 500;
    font-size: 2vw;
    cursor: none;
    transition: 0.3s ease-in;
    display:flex;
    color: #ffffff;
    mix-blend-mode: difference;
    z-index: 2;
}

.c-1{
    float: left;
    left: 20%;
    top: 10%;
    position: absolute;
    width: auto;
    height: 12vw;
    transition: all 6s cubic-bezier(1, 0, 0, 1);
    transform: scale(0);
    z-index: 0;
    opacity: 1;
    overflow: visible;
}

.c-2{
    float: left;
    right: 10%;
    bottom: 10%;
    position: absolute;
    width: auto;
    height: 6vw;
    transition: all 10s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: scale(0);
    z-index: 0;
    opacity: 1;
}

/* ทำ text gradient */
.serif{
    background: -webkit-linear-gradient(#eee, #c4c4c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: serif;
    font-size: 18vw;
    text-align: center;
    margin-top: 0.6em;
    cursor: none;
    user-select: none;
    transform: translateY(100%);
    transition: all 0.4s ease-out;
}

.sub-topic{
    font-weight: 500;
    font-size: 2vw;
    color: white;
    text-align: center;
    margin: 2em 0 0 0;
    opacity: 0;
    transition: all 0.6s ease-out;
}

/* ทำ text gradient */
.sans-serif{
    background: -webkit-linear-gradient(#eee, #c4c4c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: sans-serif;
    font-size: 16vw;
    text-align: center;
    margin-top: 1em;
    cursor: none;
    user-select: none;
    transform: translateY(100%);
    transition: all 0.4s ease-out;
}

.circle-white{
    width: auto;
    height: 100%;

    position: relative;
    z-index: 0;
    opacity: 1;
}

.circle-white img{
    position: absolute;
    top: 0;
    left: 50%;
    margin: auto;
    transform: translateX(-50%);
    width: 50%;
    height: auto;
    transition: all 1s ease-out;
}

.topic-spacial{
    z-index: 10;
    font-weight: 600;
}

.ex-font-design{
    margin-top: 1em;
    color: white;
    text-align: center;
    font-size: 6vw;
    mix-blend-mode: difference;
    transform: translateY(-100%);
    transition: all 0.6s ease-out;
}

.slide-show{
    color: #ffffff;
    font-size: 6vw;
    text-align: center;
    transform: translateY(150%);
    margin-top: 5em;
    mix-blend-mode: difference;
    animation: scrollText 10s infinite linear;
}

.sub-topic-slide-show{
    color: #ffffff;
    font-size: 1.5vw;
    text-align: center;
    mix-blend-mode: difference;
    transform: translateY(50%);
}


/* text ของ underline */
.design-1{
    font-size: 8vw;
    left: 0;
    text-align: center;
    --s: 0.1em;
    --c: #ffffff;
    color: #ffffff00;
    padding-bottom: var(--s);
    background: linear-gradient(90deg,var(--c) 50%,#ffffff 0) calc(100% - var(--_p,0%))/200% 100%,linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.5s;
    mix-blend-mode: difference;
    cursor: none;
}

.sub-tipic-underline{
    color: #fff;
    mix-blend-mode: difference;
    font-size: 1.5vw;
    text-align: center;
    mix-blend-mode: difference;
    padding-top: 5em;
}

/* text ของ Shadows layer */
.design-2{
    font-size: 8vw;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    mix-blend-mode: difference;
    padding-top: 1.2em;
    text-shadow: 5px 5px 0px #ffffff, 
              10px 10px 0px #000000, 
              15px 15px 0px #ffffff, 
              20px 20px 0px #000000, 
              25px 25px 0px #ffffff, 
              30px 30px 0px #000000, 
              35px 35px 0px #ffffff;
}

.sub-tipic-shadows-layers{
    padding-top: 5em;
    color: #fff;
    mix-blend-mode: difference;
    font-size: 1.5vw;
    text-align: center;
    mix-blend-mode: difference;
    font-weight: 400;
}


/* ทำ icon facebook และ instagram */
ion-icon {
    font-size: 3vw;
    color: white;
    padding: 0.5em;
    position: relative;
    display: inline-block;
    left: 46.5%;
    transform: translateX(-50%);
    vertical-align: middle;
}