 /* กำหนด font */

 @font-face{
    font-family: productsans;
    src: url(Product-Sans-Regular.ttf);   
}

@font-face {
    font-family: productsansbold;
    src: url(Product-Sans-Bold.ttf);
}

 /* กำหนด font */

body{
    position: relative;
    height: auto;
    width: auto;
    min-width: 1175px;
    min-height: 650px;
    font-family: productsans;
    /* ทำพื้นหลังเป็น gradient */
    background: linear-gradient(270deg, #eeaeca, #94bbe9, #eeaeca,#94bbe9,#eeaeca);
    background-size: 600% 600%;
    /* กำหนดเวลา Animation */
    -webkit-animation: Animation 21s ease infinite;
    -moz-animation: Animation 21s ease infinite;
    -o-animation: Animation 21s ease infinite;
    animation: Animation 21s ease infinite;
}

/* ทำAniamtion */
@-webkit-keyframes Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* ทำ Frame พื้นหลัง*/
.frame{
    position: absolute;
    /* ทำพื้นหลังเป็น gradient */
    background: rgb(244,236,226);
    background: linear-gradient(90deg, rgb(245, 243, 240) 0%, rgba(245, 243, 241, 0.5) 100%);  
    width: 80%;
    height: auto;
    margin-top: 3em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 55px;
    border-color: #e9e9e9;
    /* เงา */
    box-shadow: 0px 20px 80px #0000007c;
}

/* ทำ Header */
.nav{
    padding-top: 2em;
    padding-left: 5em;
    position: relative;
}

/* ปรับขนาดภาพ */
.logo img{
    display: flex;
    height: 2.8em;
    border-radius: 50%;
    float: left;
}

/* ปรับแต่ง Text */
.header-text{
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 1.25em;
    display: inline-block;
}

/* ทำ Article ข้างใน Frame*/
.article{
    margin-top: 4em;
    margin-bottom: 3.5em;
    display: flex;
    justify-content: center;
}

/* กำหนด Card */
.section{
    position: relative;
    width: 25%;
    height: auto;
    float: left;
    margin: 0px 5%;
    /* ขอบ Card */
    border-radius: 40px;
    /* ทำAniamtion */
    transition: 0.4s;
    animation: ease-in;
}

/* ปรับแต่ง image */
.m1, .m2{
    /* ทำAniamtion */
    transition: filter 0.2s, opacity 0.2s;
    height: auto;
    width: 100%;
    /* ขอบ Card */
    border-radius: 40px;
}
.m1{
    box-shadow: 0px 10px 20px #157fc673;
    /* ทำAniamtion */
    transition: 0.5s, box-shadow 0.5s;
}
.m2{
    box-shadow: 0px 10px 20px #e59ac573;
    /* ทำAniamtion */
    transition: 0.5s, box-shadow 0.5s;
}
/* ปรับแต่ง image */

/* ปรับแต่ง font ชื่อเรื่อง*/
.title{
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0px 0px 10px #5e5e5e2d;
    /* ทำAniamtion */
    transition: 0.4s;
    animation: ease-in;
}

/* ปรับแต่งเนื้อหา*/
.info{
    text-align: center;
    opacity: 0%;
    padding: 1em;
    position: absolute;
    top: 30%;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

/* ทำAniamtion */
.movie{
    transition: 3s;
}

/* กำหนดการเรียง */
.image-title{
    position: relative;
    display: inline-block;
}

/* แต่ง image overlay */
.m-title {
    opacity: 0;
    width: 80%;
    position: absolute;
    transition: opacity 0.2s;
    transform: translate(-10%, 0);
    align-items: center;
    justify-content: center;
    top: 2em;
    right: 0;
    z-index: 1;
}

/* ขยายเมื่อเอา mouse over */
.section:hover{
    transform: scale(1.125);
    border-radius: 40px;
    color: linear-gradient(0deg,#157fc673 50%, transparent);
}

/* ใส่ blur */
.section:hover .m1,.section:hover .m2{
    -webkit-mask-image: linear-gradient(to bottom, black, black);
    mask-image: linear-gradient(to bottom, black, black);
    filter: blur(10px);
}

/* ทำAniamtion */
.section:hover .m-title{
    z-index: 0;
    opacity: 100%;
} 

/* ปรับแต่งเนื้อหา*/
.section:hover .info{
    font-size: 1.15rem;
    opacity: 100%;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.479);
}

/* กำหนดสีให้เหมือนกัน */
.info:visited{
    color: black;
    text-decoration: none;
}

/* set opacity ชื่อเรือง = 0 */
.section:hover .title{
    opacity: 0;
}

/* กันไม่ให้Save และ copy */
.head-text, .logo, .m1, .m2, .title, .info{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}